# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.metadata
pubspec.lock

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/*
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
report.json
report.html

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Add temporary pubspec.yaml file for flutter_gen to resolve incompatibility with build_runner
# https://github.com/dart-lang/build/issues/2835
!.dart_tool/flutter_gen
.dart_tool/flutter_gen/gen_l10n
!.dart_tool/flutter_gen/pubspec.yaml

# Flutter files created by build_runner
*.gr.dart
*.g.dart
*.freezed.dart
injection_container.config.dart
